<template>
  <q-tr v-show="first ? true : show" :props="state.item" :key="`m_${state.item.row.index}`" :class="first ? '' : 'itemExpand'">
    <q-td
      v-for="(col) in state.item.cols"
      :key="col.name"
      :props="state.item"
    >
      {{ col.value }}
      <div>
        <q-btn
          :ripple="false"
          padding="none"
          size="sm"
          flat
          @click="handleExpand"
          v-if="col.name === 'name' && state.allItem[state.item.row.index].squard">
          <div>{{state.item.expand ? 'Hide' : 'Show'}}</div>
          <q-icon :name="state.item.expand ? 'expand_less' : 'expand_more'" />
        </q-btn>
      </div>
    </q-td>
  </q-tr>
  <item-table
    :show="state.item.expand"
    v-for="(squard, i) in state.allItem[state.item.row.index].squard"
    :key="i"
    :props="changeProps(squard, i)"
    :rows="state.allItem[state.item.row.index].squard"
  />
</template>

<script>
import { reactive } from '@vue/reactivity'
import { onUpdated } from '@vue/runtime-core';
import store from '../store'

export default {
  name: 'item-table',
  props: ['props', 'rows', 'show', "first"],
  setup (props) {
    const state = reactive({
      item: props.props,
      allItem: props.rows,
      colsMap: store.state.props.colsMap,
      cols: store.state.props.cols
    })

    onUpdated(() => {
      state.item = props.props;
      state.allItem = props.rows;
      state.colsMap = store.state.props.colsMap;
      state.cols = store.state.props.cols;
    })

    const changeProps = (squard, i) => {
      const newProps = {
        color: 'grey-8',
        dark: false,
        dense: false,
        expand: false,
        row: {...squard, index: i },
        cols: [],
        colsMap: state.colsMap
      };

      for (const [key, value] of Object.entries(squard)) {
        state.cols.forEach((col, i) => {
          if(col.name === key) {
            newProps.cols.push({ ...state.cols[i], value })
          }
        });
      }

      return newProps
    };

    const handleExpand = () => {
      state.item.expand = !state.item.expand;
    }

    return {
      state,
      changeProps,
      handleExpand
    }
  }
}
</script>

<style>
.itemExpand {
  background-color: rgb(238, 238, 238);
}
</style>