<template>
  <div class="q-pa-md">
    <q-table
      :rows="rows"
      :columns="columns"
      :loading="loading"
      row-key="name"
    >
      <template v-slot:body="props">
        <item-table :props="setCols(props)" :rows="rows" :first="true" />
      </template>

      <template v-slot:no-data>
        <div class="full-width row flex-center q-gutter-sm">
          <span>
            no Data
          </span>
        </div>
      </template>
    </q-table>
  </div>
</template>

<script>
import store from '../store'
import ItemTable from './ItemTable.vue'

const columns = [
  { name: 'name', required: true, label: 'Name', align: 'left', field: 'name', sortable: true },
  { name: 'age', align: 'center', label: 'Age', field: 'age', sortable: true },
  { name: 'hobbies', label: 'Hobbies', field: 'hobbies', sortable: true }
]

export default {
  name: 'Table',
  components: {
    ItemTable
  },
  computed: {
    rows () {
      return store.state.list.map((item, i) => ({ ...item, index: i }));
    },
    loading () {
      return store.state.loading;
    }
  },
  methods: {
    setCols (props) {
      store.commit('SET_PROPS', { cols: props.cols, colsMap: props.colsMap });
      return props;
    }
  },
  setup () {
    return {
      columns
    }
  }
}
</script>