<template>
  <q-layout view="lHh Lpr lFf">
    <q-page-container>
      <Table />
    </q-page-container>
  </q-layout>
</template>

<script>
import { onBeforeMount } from 'vue'
import Table from './components/Table.vue'
import store from './store'

export default {
  name: 'LayoutDefault',

  components: {
    Table
  },

  setup () {
    onBeforeMount(() =>{
      store.dispatch('getData')
    })
  }
}
</script>
